* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #eaeaea;
    border: 3px dotted #333;
    border-radius: 20px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
}


.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
     gap: 10px;
}

.navbar .link {
    text-decoration: none;
    border: 1px #333 solid;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    color: #ff00e6;
    font-size: 18px;
    margin: 5px 0;
    transition: 0.2s ease;

}


.link:hover {
    text-decoration: none;
    background-color: #6e656d;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
    transition: 0.2s ease;
}